{% extends "layout.html" %}

{% block title %}
    Gallery
{% endblock %}

{% block main %}
    <h1>Gallery</h1>
    <p>Welcome to our gallery of tattoo designs!</p>
    <div>
        <img src="static\5f48c424-8c10-4759-9608-6a6d7ef49eb6.png" alt="Tattoo Design 1" class="img-fluid rounded">
        <p class="text-center mt-2"></p>
    </div>
    <div>
        <img src="/static/482218729_1109594787640086_6764448032250555716_n.jpg" alt="Tattoo Design 2" class="img-fluid rounded">
        <p class="text-center mt-2"></p>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="/static/520264101_1201328258466738_8264880060512028399_n.jpg" alt="Tattoo Design 1" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/517408073_1201328111800086_4910812507829527014_n.jpg" alt="Tattoo Design 2" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/518195662_1201328398466724_8904274714035162378_n.jpg" alt="Tattoo Design 3" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="/static/471921173_1142872687487571_5428990989101005715_n.jpg" alt="Tattoo Design 10" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/480173837_1089733506292881_5382168690525031600_n.jpg" alt="Tattoo Design 11" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/482808819_1107061537893411_5130454108206750455_n.jpg" alt="Tattoo Design 12" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="/static/518301426_1201327911800106_8595107381069233499_n.jpg" alt="Tattoo Design 4" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/483473607_1110212217578343_947754674652608169_n.jpg" alt="Tattoo Design 5" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/484477379_1110212434244988_4726333781821996746_n.jpg" alt="Tattoo Design 6" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="/static/483102656_1112262534039978_721095352026043059_n.jpg" alt="Tattoo Design 7" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/484509285_1110212520911646_7870127327742058584_n.jpg" alt="Tattoo Design 8" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/484168757_1110212420911656_2874839067627964696_n.jpg" alt="Tattoo Design 9" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="/static/470240403_1132495988525241_8067704183876225552_n.jpg" alt="Tattoo Design 7" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/470243002_1132482385193268_6138846629422419502_n.jpg" alt="Tattoo Design 8" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/471373913_1138060461302127_7139670333674096677_n.jpg" alt="Tattoo Design 9" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="/static/471670859_1142872897487550_6341893743776641601_n.jpg" alt="Tattoo Design 7" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/471796343_1142872614154245_8894054699232459974_n.jpg" alt="Tattoo Design 8" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/471686785_1142872677487572_4169107872790964889_n.jpg" alt="Tattoo Design 9" class="img-fluid rounded">
            <p class="text-center mt-2"></p>
        </div>

{% endblock %}
