{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <p>Log in to your account to book an appointment.</p>
    
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <p></p>
    <footer>If you forgot your password, please contact us.</footer>
    <footer>If you don't have an account yet, please <a href="{{ url_for('register') }}">register</a> first.</footer>
{% endblock %}
