{% extends "layout.html" %}

{% block title %}
    Pricing
{% endblock %}

{% block main %}
<div>
    <h1 class="mb-4">Pricing</h1>
    <p>Our pricing is based on the size and complexity of the tattoo. Please contact us for a personalized quote.</p>
    <ul class="list-unstyled">
        <li class="text-danger"><strong>Booking Deposit:</strong> $60 (goes towards your tattoo cost, non-refundable)</li>
        <li><strong>Hourly Rate:</strong> Starting at $120 per hour</li>
        <li><strong>Shop minimum:</strong> $100</li>
        <li><strong>*Tata Tattoo Tuesday*:</strong> $60 minimum</li>
        <li class="text-warning"><strong>4-hour Tapout <Special>*Special*</Special>:</strong> $300 for 4-hour sessions unless you 'tapout'</li>
    </ul>
    <p>We also offer custom designs and consultations. Contact us to discuss your ideas and get a quote!</p>
</div>
<div class="mt-4">
    <h2>- Walk-Ins Welcome -</h2>
    <img src="static\a888acac1df3bf0e25b1f96fdf180795.jpg" alt="Walk-Ins Welcome" class="img-fluid mb-3">
    <p>We accept the following payment methods:</p>
    <ul class="list-unstyled">
        <li><strong>Cash</strong></li>
        <li><strong>Credit/Debit Cards</strong></li>
        <li><strong>Mobile Payments</strong> (Cashapp, Venmo, Paypal)</li>
    </ul>
    <p>Please note that a valid ID will be required.</p>
</div>
{% endblock %}
